.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #527bcf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
